<footer op-60>
  <p mt-6 text-sm text-slate>
    <span pr-1>Made by yuezheng2006@gmail.com</span>
    <span px-1>|</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://vercel.com/vincent-yang-team/chatgpt-chat-mini"
      target="_blank"
    >
      Deploy with Vercel
    </a>
  </p>
</footer>
