<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <span>yuezheng2006@gmail.com</span> 
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="https://platform.openai.com/docs/guides/chat" target="_blank"
    >
      Based on OpenAI(gpt-3.5-turbo)
    </a>
  </p>
</footer>